<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>developer.beappia.com:5000</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"Natrium"}</customFields>
        </encoder>
    </appender>

    <logger name="manta.Mantawallet">
        <appender-ref ref="stash"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
    </root>
</configuration>